name: CI/CD # pipeline's name that will appear in Github Actions

on: # events that trigger our pipeline: push on any branch and release creation
  push:
  release:
    types: [created]

jobs: # jobs. We will have two jobs (test and publish) with multiple steps.
  test:
    # Our test job will run on ubuntu.
    # We define matrix strategy for python-version so that 
    # our tests are run on multiple python versions:
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image # install poetry
        uses: abatilo/actions-poetry@v2.0.0
      - name: Install dependencies # install all dependencies
        run:
            export PYTHONIOENCODING=utf8 
            poetry install
      - name: Pytest # Run pytest
        run: |
          pip install pytest
          pip install pytest-cov
          pip install beautifulsoup4
          pytest -vv --cov-report=xml --cov=pyettj ./pyettj/tests
      - name: Build and publish # publish tsgen to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*